.navbar {
    position: sticky !important;
    top: 0;
    z-index: 1000;
    
}

body {
  background-image: linear-gradient(to right,#d2ffff  ,#0694c6);
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* From Uiverse.io by suda-code 
.btn {
  /* padding: 12.5px 30px; */
  /* border: 0;
  border-radius: 100px; */
  /* background-color: #2ba8fb; */
  /* color: #ffffff; */
  /* font-weight: Bold; */
  /* transition: all 0.5s;
  -webkit-transition: all 0.5s;
} */


/*.btn:active {
   background-color: #3d94cf; 
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}*/

.gradient-text {
  background: linear-gradient(230deg,#d2ffff  ,#7acdeb); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown-toggle::after {
    display: none;
}

.custom-dropdown {
  left: -160% !important;
  top: 120% !important;
}

.custom-dropdown-center {
  left: -70% !important;
  top: 120% !important;
}

.dropdown-item:active {
    background-color: #808080 !important;
}

.btn:focus {
    border-color: transparent !important;
}
.btn.show  {
  border: none !important;
}

.btn.btn.dropdown-toggle {
    border:none !important; 
}

.btn.dropdown-toggle:active {
    border: none !important;
}

.btn.show {
  background-color: #f8f9fa !important;
}

.bg-image {
  background-image: url("./wmremove-transformed-L8_G3hYjB-transformed.jpeg"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 70vh; /* Full viewport height */
  position: relative;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 90, 90, 0.7); /* Semi-transparent overlay */
}

.content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.custom-navbar {
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);               
    -webkit-backdrop-filter: blur(10px);      
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  

@media screen and (max-width: 760px) {

    .bg-image {
        height: 60vh;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }